<!DOCTYPE html>
<html lang="{{ page.lang | default: "id" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">

  {% seo %}
  
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  
  <script>
    if (localStorage.getItem('theme') === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.setAttribute('data-theme', 'dark');
    }
  </script>
</head>
<body>

  <a class="skip-link" href="#main-content">Skip to Main Content</a>

  {% include header.html %}

  <main id="main-content" class="container">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  
  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'id', includedLanguages: 'en,id', autoDisplay: false}, 'google_translate_element');
    }
  </script>
  <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>
